@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,200&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Barra descuento*/
.barra{
    background-color: #1CD1B0;
    color:black;
    font-weight: bold;
    font-size: 15px;
    height: 38px;
    line-height: 17.58px;
    padding-top: 11px;
    padding-left: 20px;
    margin: 0px;
    width: auto;
}
/*Letra para toda la página*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #b3e2fd;
}
/*Título Tienda*/
.heroes{
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 46.88px;
    height: 101px;
    top: 66px;
    text-align:center ;
    background-color: #00669F;
    margin-top: -1px;
    padding: 25px;
    width: 1498px;
    }
/*imagen tienda*/
.tienda{
    position: absolute;
    top: 15px;
}

/*Barra de formularios*/
.formulario{
    background-color: #001D2D;
    width: 1500px;
    height: 40px;
    top:103px;
    left: -1px;
    color: white;
    margin: -2px;
    text-align: right;
}
.position-fixed{
    position: fixed;
}
.registrar{
    color: white;
    margin: 15px;
    display: inline-block;
}
/*tarjetas*/
main{
    margin: 250px 90px;
}
article{
    display: inline-block;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: black dotted 2px;
    margin: auto;
    padding: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9f9fa3;
    background-image: url(/img/Batman/images.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
/*Texto de las cards*/
h2{
    text-align: center;
    margin-top: 20px;
    color:#042436;
    background-color: #eae9f0;
    font-weight: 50px;
    height: fit-content;
}
p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    color: #faf7f7;
    width: 267px;
    height: 100px;
    margin-left: 100px;
    margin-top: 10px;
}
p.datos{
    margin-left: 80px;
    margin-top: 50px;
}
.color{
    color: white;
}
p.remember{
    margin-left: 100px;
    margin-top: -5px;
    font-size: 17px;
    font-weight: 3px;
}
.boton{
    background-color: #00669F;
    text-align: center;
    width: 128.78px;
    height: 48.52px;
    position: absolute;
    top: 250px;
    left: 10px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 17.58px;
    color: #F3F3F3;
    margin-left: 85px;
}
p.nueva{
    margin-left: 140px;
    font-weight: 3px;
    font-size: 17px;
}
/*Footer*/
.derechos-reservados{
    color: white;
    font-weight: 400px;
    font-size: 16px;
    height: 51px;
    line-height: 18.75px;
    background-color: #00669F;
    padding: 16px;
    text-align: center;
    width: 1400px;
}
.barra-abajo{
    background-color: #00669F;
}

@media (max-width: 480px) {
    article{
        display: inline-block;
        width: 350px;
        height: 600px;
        border-bottom: 2px rgb(177, 171, 171) solid ;
        margin-left: 15px;
        padding: 5px;
        position: relative;
    }
    main{
        margin: auto;
        padding-top: 150px ;
    }
}

